<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Modal</h1>
    </header>
    <section id="modal-body">
        <input type="text" placeholder="Enter name">
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" >Close</button>
        <button mat-raised-button id="modal-action-button" >Save</button>
    </footer>
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->