<div class="navbar">
    <a routerLink="/drive/1/1"><i class="fa fa-fw fa-home"></i> Drive</a>
    <a routerLink="/identity/login" *ngIf="!isUserAuth()"><i class="fa fa-fw fa-user"></i> Sign in</a>
    <a routerLink="/identity/register" *ngIf="!isUserAuth()"><i class="fa fa-fw fa-user"></i> Sign up</a>
    <a href="#" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user"></i> Hello, {{authService.getUser()}}</a>
    <a (click)="logout()" routerLink="" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>