<ng-template #loading>
	<div class="col-md-10 center-spinner">
		<i class="fa fa-refresh fa-spin my-spinner"></i>
	</div>
</ng-template>

<div *ngIf="companyWrapper && companyWrapper.companies; else loading" class="table-responsive">
	<table class="table table-bordered table-hover"> 
		<thead>
			<tr>
				<th>Company</th>
				<th>Departments</th>
			</tr>
		</thead>
		<tbody *ngFor="let company of companyWrapper.companies">
			<tr>
				<td>{{company.name}}</td>
				<td *ngFor="let department of company.departments">
					<span *ngIf="selectedDataMatch(company.companyId, department.departmentId, companyWrapper.selectedData)">
						<i class="fas fa-check-square"></i>Current &nbsp;
					</span>

					<span>{{department.departmentName}}</span> &nbsp;
					
					<button
						class="btn btn-success btn-sm" 
						(click)="selectCompanyDepartment(company.companyId, department.departmentId)">Select</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p *ngIf="!companyWrapper" class="text-danger">Something went wrong with Seed method for Drive.</p>