<div class="content-group" #pluploadcontainer>
    <!-- TOPBAR -->
    <div class="top-bar">
      <div>
        <button class="btn-sm btn-info over-cursor" (click)='createFolder()'>
          <i class="fa fa-plus"></i> New Folder
        </button>
        <button class="btn-sm btn-success over-cursor" (click)="createNewDocumentFile(true)">
          <i class="fa fa-plus"></i> New Word file
        </button>
        <button class="btn-sm btn-success over-cursor" (click)="createNewDocumentFile(false)">
          <i class="fa fa-plus"></i> New Excel file
        </button>

        <p class="col-md-1"></p>

        <div class="btn btn-sm btn-warning">
          <div class="plupload-container" #pluploadcontainer>
            <div class="plupload-drop-target" #pluploader><span><i class="fa fa-upload"></i> Upload/Plupload</span></div>
          </div>
        </div>
      </div>

      <div class="upload-button" style="cursor: no-drop;">
        <div class="plupload-container" #pluploadcontainer>
          <div class="plupload-drop-target" #pluploader></div>
        </div>
      </div>
  
      <div class="seachFilesContainer">
        <form> 
          <input type="text" placeholder="Search files.. " #searchValue (keyup)="updateSearch()">
          <button (click)="searchForFiles($event)">Search</button>
        </form>
      </div>
  
      <drive-breadcrumbs *ngIf="!hasSearchResult"
        [parentFolderChain]="parentFolderChain"
        (rootFolderClicked)="navigateToRoot()"
        (otherFolderClicked)="openFolder($event.id)"
      ></drive-breadcrumbs>
    </div>

    <table *ngIf="hasSearchResult && searchResults.length > 0" class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Updater</th>
        </tr>
      </thead>
      <tbody *ngFor="let file of searchResults; else loading">
        <tr class="file-row">
          <td></td>
          <td>
            <i 
              [ngClass]="getFontAwesomeIconName(file.fileType)" 
              [ngStyle]="{color: file.fileType | faIconColor}"></i>
            <span 
                class="file-name" 
                title="{{file.fileName}}"
                (click)="downloadFile(file, true)">
              {{file.fileName | appendFolderPath:file.searchFolderNamesPath }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteFile(file)">Delete</button>
            |
            <button class="btn btn-sm btn-success" (click)="downloadFile(file)">Download</button>
          </td>
          <td>{{file.createDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
          <td>{{file.fileType}}</td>
          <td>{{file.fileSize | displayFileSize}}</td>
          <td>{{file.updaterUsername}}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="hasSearchResult && searchResults.length === 0" class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Updater</th>
        </tr>
      </thead>
      <tbody>
        <tr class="file-row">
          <td></td>
          <td>0 results found.</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="!hasSearchResult" class="table table-hover table-borderless" >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Updater</th>
        </tr>
      </thead>
      <tbody *ngIf="folder && folder.subFolders">
        <ng-template #loading *ngIf="isLoading">Spinner loading...</ng-template>
        <tr *ngFor="let folder of folder.subFolders; else loading" class="folder-row">
          <td></td>
          <td>
            <i class="fas fa-folder" style="color: #F7D774;"></i>
            <span title="{{folder.name}}" class="folder-name" (click)="openFolder(folder.folderId)">{{folder.name}}</span>
          </td>
          <td>
            <button (click)="deleteFolder(folder)" class="btn btn-sm btn-danger">
              Delete
            </button>
            |
            <button  class="btn btn-sm btn-warning">
              Rename
            </button>
          </td>
          <td>{{folder.createDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
          <td>Folder</td>
          <td>{{folder.folderCount}} folders, {{folder.fileCount}} files</td>
          <td>{{folder.updaterUsername}}</td>
        </tr>
        <tr *ngFor="let file of folder.files; else loading" class="file-row">
          <td></td>
          <td>
            <i 
              [ngClass]="getFontAwesomeIconName(file.fileType)"
              [ngStyle]="{color: file.fileType | faIconColor}">
            </i>
            <span 
                class="file-name" 
                title="{{file.fileName}}"
                (click)="downloadFile(file, true)">
              {{file.fileName}}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteFile(file)">Delete</button>
            |
            <button class="btn btn-sm btn-success" (click)="downloadFile(file)">Download</button>
          </td>
          <td>{{file.createDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
          <td>{{file.fileType}}</td>
          <td>{{file.fileSize | displayFileSize}}</td>
          <td>{{file.updaterUsername}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div id="upload-overlay" class="upload-overlay">
  <div *ngIf="uploader &&  uploader.files" style="width: 50%;">
    <div *ngFor="let file of uploader.files" class="upload-overlay-text">
      <span>{{file.name}}</span>
      <div class="progress">
        <div class="progress-bar" [style.width]="file.percent + '%'"></div>
      </div>
  </div>
</div>  